---
layout: base
title: Bedoom
excerpt: Bedoom | 黄志强
---

{%- if site.author.type == 'organization' -%}
  {%- assign _author_itemtype = 'http://schema.org/Organization' -%}
{%- else -%}
  {%- assign _author_itemtype = 'http://schema.org/Person' -%}
{%- endif -%}

<div itemscope itemtype="{{ _author_itemtype }}" class="layout--author">
  <div class="main">
    <div class="content">
      <div class="author-avatar">
        <img itemprop="image" alt="my photo" src="https://gitee.com/bedoom/images/raw/master/202111262223874.jpg" />
      </div>
      <h1 itemprop="name" class="title-text">{{ site.author.name }}</h1>
      {% include author-links.html author=site.author %}
      <p><a itemprop="url" class="social-link blog" title="Visit my blog." href="/blog" target="_self">Visit My Blog</a></p>
    </div>
  </div>
</div>
<script>{%- include scripts/common.js -%}</script>
{% include analytics.html %}
